body {
  background-color: #0F0F0F;
  color: #F0F0F0;
  margin: 0;
}

main {
  margin: auto;
  width: 80%;
}

header {
  background-color: #F0F0F0;
  margin-bottom: 1em;
  width: 100%;
}

h1 {
  background-color: #F0F0F0;
  color: #0F0F0F;
  font-family: "VCR OSD Mono";
  margin: 0;
  margin-bottom: 1em;
  padding: 0.25em;
  text-align: center;
}

h2 {
  color: #F0F0F0;
  font-family: "VCR OSD Mono";
  font-size: 12px;
  margin-left: 80px;
  text-align: left;
}
p {
  color: #F0F0F0;
  font-family: "VCR OSD Mono";
  font-size: 8px;
}
p {
  color: #F0F0F0;
  font-size: 8px;
}
