@font-face {
    font-family: 'VCR OSD Mono';
    src: url('VCROSDMono.eot');
    src: url('VCROSDMono.eot?#iefix') format('embedded-opentype'),
        url('VCROSDMono.woff') format('woff'),
        url('VCROSDMono.ttf') format('truetype'),
        url('VCROSDMono.svg#VCROSDMono') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

