header {
  background-color: #100c0c;
  color: #FFFFFF;
  margin: 0;
}  

body {
  background-color: #100c0c;
  color: #FFFFFF;
  margin: 0;
}

p {
  color: #F0F0F0;
  font-family: "VCR OSD Mono";
  font-size: 8px;
}

main-text {
  color: #FFFFFF;
  font-family: Ubuntu;
  font-size: 8px;
}