header {
  background-color: #100c0c;
  color: #FFFFFF;
  margin: 0;
}  

body {
  background-color: #100c0c;
  color: #FFFFFF;
  margin: 0;
}

p {
  color: #F0F0F0;
  font-family: "VCR OSD Mono";
  font-size: 8px;
}

main-font {
  color: #FFFFFF;
  font-family: Ubuntu;
  font-size: 16px;
}

song-banner {
  border-radius: 15px;
  background: #181818;
  padding: 20px; 
  width: 350px;
  height: 500px; 
} 