header {
  background-color: #100c0c;
  color: #FFFFFF;
  margin: 0;
}

body {
  background-color: #100c0c;
  color: #FFFFFF;
  margin: 0;
}

p {
  color: #F0F0F0;
  font-family: "VCR OSD Mono";
  font-size: 8px;
}

main-font {
  color: #FFFFFF;
  font-family: Ubuntu;
  font-size: 16px;
}

#song-banner {
  border-radius: 15px;
  background: #181818;
  padding: 20px;
  width: 175px;
  height: 275px;
}

#select-episode {
  display: flex;
}

form {
  background-color: #121212;
  border: 1px solid #303030;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}

select {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: none;
  background-color: #121212;
  color: #ffffff;
  font-size: 14px;
  padding-left: 10px;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="button"] {
  width: 50px;
  height: 30px;
  border-radius: 30px;
  background-color: #121212;
  color: #ffffff;
  border: none;
  font-size: 14px;
  text-align: center;
}